<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="panel-collapse collapse in item-1" role="tabpanel">
            <div class="panel-body text-center">
                <div class="row is-flex">
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <div class="app"><a href="#">
                            <img src="https://i.imgur.com/ciPRRLX.png" width="60" height="60">
                            <span>Android Auto</span>
                        </a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <div class="app"><a href="#">
                            <img src="https://i.imgur.com/qdU5mrV.png" width="60" height="60">
                            <span>Android Messages</span>
                        </a></div>
                    </div>

                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <div class="app"><a href="#">
                            <img src="https://i.imgur.com/Yk5glak.png" width="60" height="60">
                            <span>Android OS</span>
                        </a></div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <div class="app"><a href="#">
                            <img src="https://i.imgur.com/Yk5glak.png" width="60" height="60">
                            <span>Android OS</span>
                        </a></div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <div class="app"><a href="#">
                            <img src="https://i.imgur.com/Yk5glak.png" width="60" height="60">
                            <span>Android OS</span>
                        </a></div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <div class="app"><a href="#">
                            <img src="https://i.imgur.com/Yk5glak.png" width="60" height="60">
                            <span>Android OS</span>
                        </a></div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <div class="app"><a href="#">
                            <img src="https://i.imgur.com/Yk5glak.png" width="60" height="60">
                            <span>Android OS</span>
                        </a></div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <div class="app"><a href="#">
                            <img src="https://i.imgur.com/Yk5glak.png" width="60" height="60">
                            <span>Android OS</span>
                        </a></div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <div class="app"><a href="#">
                            <img src="https://i.imgur.com/Yk5glak.png" width="60" height="60">
                            <span>Android OS</span>
                        </a></div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <div class="app"><a href="#">
                            <img src="https://i.imgur.com/Yk5glak.png" width="60" height="60">
                            <span>Android OS</span>
                        </a></div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <div class="app"><a href="#">
                            <img src="https://i.imgur.com/Yk5glak.png" width="60" height="60">
                            <span>Android OS</span>
                        </a></div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <div class="app"><a href="#">
                            <img src="https://i.imgur.com/Yk5glak.png" width="60" height="60">
                            <span>Android OS</span>
                        </a></div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <div class="app"><a href="#">
                            <img src="https://i.imgur.com/Yk5glak.png" width="60" height="60">
                            <span>Android OS</span>
                        </a></div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <div class="app"><a href="#">
                            <img src="https://i.imgur.com/Yk5glak.png" width="60" height="60">
                            <span>Android OS</span>
                        </a></div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <div class="app"><a href="#">
                            <img src="https://i.imgur.com/Yk5glak.png" width="60" height="60">
                            <span>Android OS</span>
                        </a></div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-4">
                        <div class="app"><a href="#">
                            <img src="https://i.imgur.com/Yk5glak.png" width="60" height="60">
                            <span>Android OS</span>
                        </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>