<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>


<style type="text/css">
    body{
	margin:0;
	padding:0;
}
/* .container{
	width:90%
	margin:10px auto;
} */
.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item{
	/*width:100%;*/
}
.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}



</style>

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center my-2">
            <h4>Isotope filter magical layouts with Bootstrap 4</h4>
        </div>
    </div>
    <div class="portfolio-menu mt-2 mb-4">
        <ul>
            <li class="btn btn-outline-dark active" data-filter="*">All</li>
            <li class="btn btn-outline-dark" data-filter=".ASUS">ASUS</li>
            <li class="btn btn-outline-dark" data-filter=".HP">HP</li>
            <li class="btn btn-outline-dark" data-filter=".DELL">DELL</li>
            <li class="btn btn-outline-dark" data-filter=".ACER">ACER</li>
            <li class="btn btn-outline-dark" data-filter=".LENOVO">LENOVO</li>
            <li class="btn btn-outline-dark" data-filter=".4GB">4GB</li>
            <li class="btn btn-outline-dark" data-filter=".8GB">8GB</li>
            <li class="btn btn-outline-dark" data-filter=".16GB">16GB</li>

            <!--            <li class="btn btn-outline-dark text" data-filter=".selfie">selfie</li>-->
        </ul>
        <!--        <div>-->
        <!--            <button class="nameButton" id='DELL' onclick="sorted(event)">DELL</button>-->
        <!--            <button class="nameButton" id='ASUS' onclick="sorted(event)">ASUS</button>-->
        <!--            <button class="nameButton" id='ACER' onclick="sorted(event)">ACER</button>-->
        <!--            <button class="nameButton" id='HP' onclick="sorted(event)">HP</button>-->
        <!--        </div>-->
        <!--        <h1>RAM</h1>-->
        <!--        <div>-->
        <!--            <button class="ramButton" id='4GB' onclick="sorted(event)">4GB</button>-->
        <!--            <button class="ramButton" id='8GB' onclick="sorted(event)">8GB</button>-->
        <!--            <button class="ramButton" id='16GB' onclick="sorted(event)">16GB</button>-->
        <!--        </div>-->
        <!--    </div>-->

        <div class="portfolio-item row">
            <!--        "${onevar} + ' ' + |${twovar}, ${threevar}|"-->
            <div class="item   selfie col-lg-3 col-md-4 col-6 col-sm RAM"
                 th:class="${PC.RAM} +' ' +|${PC.product_supplier}|" th:each="PC:${PCS}">
                <img alt="..." class="img-fluid" th:src="${PC.image}">
                <p class="fancylight popup-btn" data-fancybox-group="light" th:text="${PC.name}">
                </p>
                <!--                <img class="img-fluid" src="https://lh3.googleusercontent.com/QLnbHVekIJTmn5qhJkPI27d_pyoJGtR0jYq7RpaTd-R0x7AyEEubOb3CGb5Dxkd5FXHLUmJc4aPwscaf8IzNDimgh9-aZ7ST=w500-rw" alt="">-->
            </div>
        </div>
    </div>
    <script th:inline="javascript">
         // $('.portfolio-item').isotope({
        //  	itemSelector: '.item',
        //  	layoutMode: 'fitRows'
        //  });

         $('.portfolio-menu ul li').click(function(){
         	$('.portfolio-menu ul li').removeClass('active');
         	$(this).addClass('active');
         	var selector = $(this).attr('data-filter');
         	$('.portfolio-item').isotope({
         		filter:selector
         	});
         	return  false;
         });
         $(document).ready(function() {
         var popup_btn = $('.popup-btn');
         popup_btn.magnificPopup({
         type : 'image',
         gallery : {
         	enabled : true
         }
         });
         });

    </script>

</html>


